@{

    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOPS</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/error.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="box-inner">
            <h1>
                OOPS!
            </h1>
            <img src="/Images/sad-face.png" />
            <h2>An error occured while processing your request</h2>
            <a href="~/">Back To myProfio</a>
        </div>
    </div>
</body>
</html>
