
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-md-12" style="box-shadow: inset -20px 17px 100px 0 rgb(247, 202, 24), 0 6px 20px 0 rgb(11, 148, 66);">
            <div class="row">




                <div class="col-sm-6">
                    <div class="content-box-large">
                        <div class="panel-body">
                            My Data Place Holder1
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="content-box-large">
                        <div class="panel-body">
                            My Data Place Holder2
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="content-box-large">
                        <div class="panel-body">
                            My Data Place Holder3
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="content-box-large">
                        <div class="panel-body">
                            My Data Place Holder4
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="content-box-large">
                        <div class="panel-body">
                            My Data Place Holder5
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="content-box-large">
                        <div class="panel-body">
                            My Data Place Holder6
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

